ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    width: 421px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
    box-sizing: border-box;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}

.tabs-content {
    width: auto;
}

.tabs-content__item {
    text-align: justify;
}